<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="cgReactiveExtensions" Directory="INSTALLFOLDER" >
      <Component Id="cmpReactiveExtensions" Guid="{124348A4-958E-44FF-959C-540F914C4325}">
        <File Id="filReactiveCore"        Source="$(var.SwitchDriver.TargetDir)System.Reactive.Core.dll"              Vital="yes" KeyPath="yes" />
        <File Id="filReactiveInterfaces"  Source="$(var.SwitchDriver.TargetDir)System.Reactive.Interfaces.dll"        Vital="yes" />
        <File Id="filReactiveLinq"        Source="$(var.SwitchDriver.TargetDir)System.Reactive.Linq.dll"              Vital="yes" />
        <File Id="filReactivePlatform"    Source="$(var.SwitchDriver.TargetDir)System.Reactive.PlatformServices.dll"  Vital="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>