<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.K8056.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.K8056.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.K8056.Properties.Settings>
            <setting name="CommPortName" serializeAs="String">
                <value>(none)</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>COM1:2400,None,8,Two,NoDTR,NoRTS</value>
            </setting>
        </ASCOM.K8056.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ASCOM.K8056.Properties.Settings>
            <setting name="MinimumMillisecondsBetweenTransactions" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CommParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CommStopBits" serializeAs="String">
                <value>Two</value>
            </setting>
            <setting name="CommHandshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CommDtrActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommRtsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommDataRate" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="AboutTigra" serializeAs="String">
                <value>http://tigra-astronomy.com</value>
            </setting>
            <setting name="AboutAscom" serializeAs="String">
                <value>http://ascom-standards.org</value>
            </setting>
            <setting name="AboutReactiveAscom" serializeAs="String">
                <value>http://tigra-astronomy.com/reactive-communications-for-ascom</value>
            </setting>
            <setting name="CommDataBits" serializeAs="String">
                <value>8</value>
            </setting>
        </ASCOM.K8056.Properties.Settings>
    </applicationSettings>
</configuration>