<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>

  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="!(bind.AssemblyVersion.filDriverAssembly)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="{21A5B8D0-455E-4576-BAD1-0D68AB244270}">
    <Package InstallerVersion="400" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine"
             Platform="$(var.Platform)" />
    <MajorUpgrade AllowSameVersionUpgrades="yes"
              DowngradeErrorMessage="Downgrading is not supported. Please uninstall the old product first." />
    <MediaTemplate EmbedCab="yes"/>
    <FeatureGroupRef Id="fgRoot"/>
    <PropertyRef Id="IncludeAscomDriverTypesTable" />
    <CustomActionRef Id="caPrepareAscomDeviceProfiles" />
    <CustomActionRef Id="caRegisterDrivers" />
    <CustomActionRef Id="caUnregisterDrivers" />
    <Icon Id="iconTigraAstronomy"
          SourceFile="$(var.AscomDriver.TargetDir)Resources\TigraAstronomy.ico" />

    <!-- ARP: Properties for Add/Remove Programs -->
    <Property Id="ARPCOMMENTS" Value="$(var.ProductName)" />
    <Property Id="ARPCONTACT" Value="Tim@tigra-astronomy.com" />
    <Property Id="ARPHELPTELEPHONE" Value="+44 (1227) 634430" />
    <Property Id="ARPURLINFOABOUT" Value="http://tigra-astronomy.com" />
    <Property Id="ARPPRODUCTICON" Value="iconTigraAstronomy" />

    <!-- Launch Condition to check that x64 installer is used on x64 systems          -->
    <!-- Credit to Yan Sklyarenko via Stack Overflow for suggesting this format       -->
    <Condition Message="Please use the correct installer for your operating system - x86 for 32-bit, x64 for 64-bit.">
      <?if $(var.Win64) = "yes" ?>
      VersionNT64
      <?else?>
      NOT VersionNT64
      <?endif?>
    </Condition>
  </Product>

  <Fragment Id="fragDirectoryLayout">
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="$(var.InstallName)"></Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>